<?xml version="1.0" encoding="utf-8"?>
<manifest package="wxb.com.mvvmdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.CollectionActivity">
        </activity>
        <activity android:name=".ui.AdapterActivity">
        </activity>
        <activity android:name=".ui.IncludeActivity">
        </activity>
        <activity android:name=".ui.ObservableActivity">
        </activity>
        <activity android:name=".ui.ViewStubActivity">
        </activity>
    </application>

</manifest>